APP_ENV=development
SERVER_PORT=8070
SERVER_HOST=0.0.0.0
DATABASE_POSTGRES_HOST=localhost
DATABASE_POSTGRES_PORT=5432
DATABASE_POSTGRES_USER=edugo
DATABASE_POSTGRES_PASSWORD=changeme
DATABASE_POSTGRES_DATABASE=edugo
DATABASE_POSTGRES_SSL_MODE=disable
AUTH_JWT_SECRET=changeme
LOGGING_LEVEL=debug
LOGGING_FORMAT=json

# CORS (en produccion, configurar origenes explicitos; wildcard solo permitido en development/local)
# CORS_ALLOWED_ORIGINS=https://app.edugo.com,https://admin.edugo.com
CORS_ALLOWED_ORIGINS=*
CORS_ALLOWED_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Origin,Content-Type,Accept,Authorization,X-Request-ID
